<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>PhotoTrans</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<!-- 本地网络发现 (Bonjour) -->
	<key>NSLocalNetworkUsageDescription</key>
	<string>PhotoTrans 需要访问本地网络，以发现附近设备并传输照片/文件</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_phototrans._tcp</string>
		<string>_phototrans._udp</string>
	</array>
	<!-- 二维码扫描 -->
	<key>NSCameraUsageDescription</key>
	<string>PhotoTrans 需要使用相机扫描二维码以连接对方设备</string>
	<!-- 相册权限 -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PhotoTrans 需要访问相册，以选择并发送照片</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>PhotoTrans 需要保存接收到的照片到相册</string>
</dict>
</plist>